[submodule "scripts/easywifi"]
	path = scripts/easywifi
	url = https://github.com/NoahCristino/easywifi
[submodule "config/youtube-music/catppuccin"]
	path = config/youtube-music/catppuccin
	url = https://github.com/catppuccin/youtubemusic
[submodule "config/polybar/scripts/espr"]
	path = config/polybar/scripts/espr
	url = https://github.com/rec1dite/espr
[submodule "config/polybar/scripts/polybar-cava"]
	path = config/polybar/scripts/polybar-cava
	url = https://github.com/ray-pH/polybar-cava
[submodule "config/polybar/scripts/redshift"]
	path = config/polybar/scripts/espr
	url = https://github.com/catppuccin/youtubemusic
[submodule "config/tauon/catppuccin-tauon"]
	path = config/tauon/catppuccin-tauon
	url = https://github.com/Achardir/catppuccin-tauon
