[Desktop Entry]
Categories=Network
Comment=ChatGPT
Exec=chatgpt
GenericName=ChatGPT
Icon=appimagekit-wewechat
Name=ChatGPT
Terminal=false
TryExec=chatgpt
Type=Application
Keywords=Messages
MimeType=text/plain
