[Desktop Entry]
Categories=AudioVideo;Network
Comment=ClickUp
Exec=clickup
GenericName=University
Icon=bookmark
Name=ClickUp
Terminal=false
TryExec=clickup
Type=Application
Keywords=University,Work,Projects,Lectures
MimeType=text/plain
