[Desktop Entry]
Categories=AudioVideo;Network
Comment=Discord
Exec=discord
GenericName=Messenger
Icon=discord
Name=Discord
Terminal=false
TryExec=discord
Type=Application
Keywords=Social;Messages
MimeType=text/plain
