[Desktop Entry]
Categories=Network
Comment=GitHub
Exec=github
GenericName=GitHub
Icon=/usr/share/icons/Papirus/64x64/apps/github.svg
Name=GitHub
Terminal=false
TryExec=github
Type=Application
Keywords=Git,Code,Programming,Repository
MimeType=text/plain
