[Desktop Entry]
Categories=AudioVideo;Network
Comment=GMail
Exec=gmail
GenericName=Email
Icon=/usr/share/icons/Papirus/64x64/apps/gmail.svg
Name=GMail
Terminal=false
TryExec=gmail
Type=Application
Keywords=Social;Email;Messages
MimeType=text/plain
