[Desktop Entry]
Categories=Graphics
Comment=Simple X Image Viewer
Exec=sxiv
GenericName=Messenger
Icon=sxiv
Name=Simple X Image Viewer
Terminal=false
TryExec=sxiv
Type=Application
Keywords=Image;Viewer;Media;Graphics
MimeType=image/jpeg+png+gif
