[Desktop Entry]
Categories=AudioVideo;Network
Comment=Todoist
Exec=todoist
GenericName=Calendar
Icon=todoist
Name=Todoist
Terminal=false
TryExec=todoist
Type=Application
Keywords=Messages;Calendar;Todo;Tasks
MimeType=text/plain
